.body{
    background-color: #24353f;
}

.form{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: #24353f;
    color: #17a2b8;
    text-align: center;

    width: 1000px;
    height: 400px;

    h1{
        padding-top: 10px;
    }
}

.hi{
    width: 1000px;
    height: 400px;
}


.inpt{
    width: 90%;
    input{

        background-color: transparent !important;

        border: white solid 2px !important;
        color: white !important;

       



        
    }
}

button{
    background-color: transparent ;
    color: #17a2b8;
    border: 3px solid #17a2b8;
    transition: .5s ease;
    
}
button:hover{
    background-color: #17a2b8;
    color: white;
    border: 3px solid transparent;
}

p{
    color: white;
}

a{
    text-decoration: none;

    color: aliceblue;

    cursor: pointer;
}

a:hover{

    text-decoration: underline;

}

.hello{color: #17a2b8;}

.out{
    position: fixed;
    right: 300px;
    top:5px;
}

input[type="text"]::-webkit-input-placeholder{
    color: rgb(187, 19, 19);
    
}

input[type="password"]::-webkit-input-placeholder{
    color: rgb(187, 19, 19);
    
}
